
<div class="home">
    <h2>Search for jobs and display the results on a map!</h2>
    <p>Please note - Job searches (especially common jobs in a large radius) may take 3-10 seconds.</p>
    <div class="about">
        <p>
            Create an account (it's free and only requires an email & password) to save jobs for later 
            or build up your own map of all the jobs you're interested in.
        </p>
        <p>
            All jobs are scraped from Totaljobs and link back to their website to view the full job description.
            There's no intention to steal traffic here, merely provide an alternative view of the data...
            and add a few new fetaures along the way.
        </p>
    </div>
</div>
