<%= turbo_frame_tag "modal" do %>
  <div class="modal">
      <div id="jobs">
          <% @jobs.each do |job| %>
              <%= render job %>
          <% end %>
      </div>
      <%= link_to "Go to map view", user_jobs_path, class: "map-view-link", data: {turbo: "false"} %>
      <%= link_to "Cancel", "#", data: {
        controller: "modals",
        action: "modals#close"
      }, class: "cancel-link" %>
  </div>
<% end %>