<div id="footer">
    <div class="personal">
        <p>This site was built using Ruby on rails & vanilla JS, check out the full source code here:</p>
        <a href="https://github.com/James-rae-eng/job-map" target="_blank" >
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" class="icon"/>
        </a>
    </div>
    <div class="personal">
        <p>See more of my other projects or get in touch:</p>
        <a href="https://www.google.com" target="_blank">www.google.com</a>
    </div>
</div>