.topbar {
    padding: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .sign-links {
    display: flex;
    gap: 15px;
  }
 
  #home {
    font-size: x-large;
    font-weight: bolder;
  }